body {
    overflow-x: hidden;
    font-family: 'Open Sans';
 }

a, a:focus, a:hover, li {outline: none;}

table tbody td .fa-close {color: #954120;}

.nopadding {
   padding: 0 !important;
}

.nobradius {
    border-radius: 0 !important;
}

.pt0 {padding-top: 0px;}
.pr0 {padding-right: 0px;}
.pl0 {padding-left: 0px;}
.pb0{padding-bottom: 0px;}

.navbar-static-top {
    position: fixed;
    width: 100%;
    z-index: 1001;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    margin-top: 50px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color:#364150 !Important;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
    padding-top: 50px !important;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left:-250px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    right:15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper.toggled .sidebar-nav {
    right: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover, .sidebar-nav li .active {
    text-decoration: none;
    color: #fff;
    background: #2b3643;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li a span {
    margin-left: 10px;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#wrapper.toggled   i {
    float:right;
    line-height: 40px;
    margin-right: 15px;
}

#menu-toggle {
    float:right;
}

#menu-toggle  i{
    font-size:20px !important;
}

.btn-toolbar {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-right: 15px !important;
}

@media(min-width:1025px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 40px;
    }

    #wrapper.toggled span {
        visibility:hidden;
        
    } 

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        padding-left: 220px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


@media(max-width:1024px) {

    #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-right:60px;
    }

    #wrapper.toggled {
        padding-right: 60px;
    }

    #wrapper.toggled .sidebar-nav {
        right: 15px;
    }

    .sidebar-nav {
        right: 0;
    }

    #wrapper {
        padding-left: 20px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }
    
    #wrapper.toggled span {
        visibility:visible;
        position:inherit;
        left:50px;
        bottom:13px;
        
    }

    #wrapper span {
        visibility:hidden;   
    }

    #wrapper.toggled   i {
        float:none;
    }
     
    #wrapper i {
        float:right;
        line-height: 40px;
        margin-right: 15px;
    }

    #page-content-wrapper {
        padding: 5px;
        position: relative;
        padding-left: 55px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

/****************
    LOADER
****************/

.loaders {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
}

.loaders .loader {
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    max-width: 100%;
    margin-top: 200px;
}

.ball-pulse-sync > div, .ball-pulse > div, .ball-scale-random > div, .ball-scale > div {
    background-color: #d43f3a;
}
.table-responsive { overflow-x: initial !important; }